.scrolling-container {
    height: 2300px; /* Set height for the scrolling container */
    overflow: hidden; /* Hide the overflow */
    position: relative; /* Position relative for the absolute positioning of the inner element */
    color: #336791;
    font-family: "Verdana";
    font-size: small;
    font-weight: normal;
  }
  
  .scrolling-content {
    position: absolute; /* Position absolute to make it independent of its container */
    animation: scroll 10s linear infinite reverse; /* Apply animation */
  }
  
  @keyframes scroll {
    0% 
    {
      top: -100%; /* Start at the bottom */
    }
    100% 
    {
      top: 100%; /* Scroll to the top */
    }
  }
  